<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Music Recommendation App</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>About.... this</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>CSE 108 Final Project</h2>
            <p></p>
        </section>
        <button onclick="window.location.href='index.html'">Back to Home</button>
    </main>
    <footer>
        <p>&copy; 2026 CSE 108 Live Music Recommendation App Thingy</p>
    </footer>
</body>
</html>